.portfolio__div{
    padding-top: 120px;
    background: #02050a;
}
.portfolio__div__title{
margin-bottom: 25px;
}
.portfolio__div__title h5{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #55e6a5;
    margin-bottom: 15px;
}
.portfolio__div__title h2{
    font-size: 48px;
    font-weight: 600;
    line-height: 1.3;
    color: #ffffff;
}
.portfolio__div a img{
    width: 100%;
    height: 550px;
    margin-top: 25px;
    overflow: hidden;
    position: relative;
    display: block;
    object-fit: cover;
}

/* Media */
@media screen and (max-width:1400px) {
    .portfolio__div__title h2{
        font-size: 38px;
    }
    
}
@media screen and (max-width:1200px) {
   .portfolioCol1{
    width: 50%;
    
   } 
}
@media screen and (max-width:992px) {
    .portfolio__div__title h2{
        font-size: 42px;
    }
    .portfolio__div a img{
        width: 336px;
        height: 350px;
    }

 }
@media screen and (max-width:768px) {
    .portfolio__div__title h2{
        font-size: 36px;
    }
    .portfolioCol1{
        width: 100%;
    }
    .portfolioCol2{
        width: 100%;
    }
    .portfolio__div a img{
        width: 516px;
        height: 350px;
    }
}
@media screen and (max-width:576px) {
    
    /* .portfolioCol1{
        width: 100%;
    }
    .portfolioCol2{
        width: 100%;
    } */
    .portfolio__div a img{
        width: 100%;
        
    }
}