.subscribe__div{
    background-image: url("https://zyan.vercel.app/images/bg/subscribe.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.subscribe__div__overlay{
    background: #000000e3;
    padding-top: 115px;
    padding-bottom: 120px;
}
.subscribe__div__text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.subscribe__div__text h3{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 35px;
    text-transform: uppercase;
    color: #ffffff;
}
#subscribe__form{
position: relative;
}
#subscribe__form input{
    width: 636px;
    border: 1px solid #55e6a5;
    padding: 27px 25px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    background: #131313;
    outline: none;
}
#subscribe__form input::placeholder{
    color: #a2a2a2;
}
#subscribe__form button{
    position: absolute;
    cursor: pointer;
    top: 8px;
    right: 8px;
    border: none;
    padding: 24px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background:#55e6a5;
    color: #02050a;
    font-weight: 500;
    transition: all 0.3s linear 0s;
}
#subscribe__form button:hover{
    background: #141c27;
    color: #ffffff;
}

/* Media */
@media screen and (max-width:1400px) {
    #subscribe__form input{
        width: 546px ;
    }
}
@media screen and (max-width:1200px) {
    #subscribe__form input{
        width: 616px ;
    }
}
@media screen and (max-width:992px) {
    #subscribe__form input{
        width: 576px ;
    }
}
@media screen and (max-width:768px) {
    #subscribe__form input{
        width: 516px;
    }
}
@media screen and (max-width:576px) {
    #subscribe__form{
        width: 100%;
    }
    #subscribe__form input{
        width: 100%;
    }
}